body {
  font-family: $secondary-font;
}

a {
  text-decoration: none;
  color: $gray-medium;
  transition: .085s all ease-in;

  &:hover {
    color: $gray-dark;
    // padding-bottom: 0.66rem;
    // background: linear-gradient(to right, rgb(255, 234, 0) 0%, rgb(255, 239, 39) 100%);
    // background-size: 100% 0.34rem;
    // background-repeat: no-repeat;
    // background-position: left 80%;
  }
}

footer {
  margin: 2em 0;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }
}
