$gray-dark: #333;
$gray-medium: #758391;
$gray-light: #F3F7FB;
$teal: #16C3E5;
$orange: #FF7500;
$green: #5DF55D;
$pink: #F33573;
$purple: #663D9F;


// lines 
.blue {
  background: $teal;
}

.orange {
  background: $orange;
}

.green {
  background: $green;
}

.pink {
  background: $pink;
}

.purple {
  background: $purple;
}
