@mixin font-size($size: 16) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}

// media breakpoints
@mixin screen-sm {
  @media(min-width: 576px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flex {
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-row {
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-center-all {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin justify-center {
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin align-center {
  -ms-flex-align: center;
  align-items: center;
}

@mixin color-line {
  height: 10px;
  position: absolute;
  left: 43%;
  z-index: 999;

    @include screen-lg {
      width: 10%;
    }
}

@mixin link-underline {
  color: $gray-dark;
  padding-bottom: 0.25rem;
  background: transparent;
  background-repeat: no-repeat;
  background-position: left 80%;
}

 @mixin link-underline-hover {
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  background: -webkit-linear-gradient(left, rgba(227, 226, 16, 0.35) 0%, rgba(253, 191, 46, 0.35) 100%);
  background: linear-gradient(to right, rgba(227, 226, 16, 0.35) 0%, rgba(253, 191, 46, 0.35) 100%);
  background-repeat: no-repeat;
  background-position: left 80%;
}
