@mixin font-size($size: 16) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}

//media breakpoints
@mixin screen-sm {
  @media(min-width: 576px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flex {
  display: -ms-flexbox;
  display: flex;
}

// @mixin flex-column {
//   -ms-flex-direction: column;
//   flex-direction: column;
// }

// @mixin flex-row {
//   -ms-flex-direction: row;
//   flex-direction: row;
// }

// @mixin justify-between {
//   -ms-flex-pack: justify;
//   justify-content: space-between;
// }

@mixin justify-center {
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin align-center {
  -ms-flex-align: center;
  align-items: center;
}

// @mixin align-start {
//   -ms-flex-line-pack: start;
//   align-content: flex-start;
// }

// @mixin align-items-stretch {
//   -ms-flex-align: stretch;
//   align-items: stretch;
// }