.bio {
  background-color: var(--purple);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  z-index: 200;
  color: var(--white);
  overflow-y: scroll;


  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
  }

  &__content {
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;

    @include screen-sm {
      padding: 5rem;
    }

    @include screen-lg {
      padding: 8rem;
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

     &__icons {
       margin: 2rem 0;

       @include screen-lg {
         text-align: right;
         margin: 0 0 2rem 0;
       }

      a {
         &:not(:last-child) {
           margin-right: 1.2rem;
         }

         & svg {
           transition: all .2s;

           &:hover {
             opacity: 0.5;
             transform: translateY(-2px);
           }
         }
       }
     }

     &__text {
       h2 {
         width: 100%;

         @include screen-xl {
           max-width: 40%;
         }
       }

       p {
         margin: 3rem 0;
         hyphens: auto;
         column-count: 1;

         @include screen-lg {
          column-count: 2;
          column-gap: 4rem;
         }
       }
     }

     &__close a {
       font-size: 2rem;
       position: absolute;
       top: 1rem;
       right: 2rem;
       cursor: pointer;
       color: inherit;
       z-index: 4000;

       @include screen-lg {
        top: 2rem;
        right: 4rem;
       }

       &:target {
         opacity: 0;
         visibility: hidden;
       }
     }
  }
}

.close {
  opacity: 0 !important;
  visibility: hidden !important;
}