.contact {
  margin: 3rem auto;
  width: 85%;
  text-align: center;

  @include screen-lg {
    margin: 10rem auto;
    width: 42%;
  }

  &__line {
    height: 140px;
    width: 1px;
    border-left: 1px solid var(--orange);
    margin: 4.2rem auto;

    @include screen-sm {
      height: 240px;
    }
    
  }

  a {
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 7px;
    @include hover-underline;
  }

  p {
    padding-top: 4rem; 
    line-height: 1;
  }
}