.contact {
  margin: 3rem auto;
  width: 85%;
  text-align: center;

  @include screen-md {
    margin: 10rem auto;
    width: 40%;
  }

  &__line {
    height: 240px;
    width: 1px;
    border-left: 1px solid var(--orange);
    margin: 4.2rem auto;
    
  }

  a {
    font-weight: 400;
  }

  p {
    padding-top: 4rem; 
  }
}