.project {
  padding: 3rem 4rem;
  background: #f5f8fb;

  @include screen-lg {
    padding: 6rem 14rem;
  }

  &__summary {
    text-align: left;
    margin-top: 10rem;

    @include screen-sm {
      text-align: right;
    }

    p {
      color: var(--gray);
    }
  }

  &__details {
    margin-top: 2rem;
    display: block;

    @include screen-sm {
      margin-top: 6rem;
    }

    @include screen-sm {
      display: flex;
    }

    .project-title {
      flex: 0 0 15%;

        @include screen-lg {
          margin-left: 4.2rem;
        }

        h1 {
          writing-mode: initial;
          line-height: 1;

          @include screen-sm {
            writing-mode: vertical-rl;
          }
        }

        .project-line {
          &--vertical {
            border-left: 0;
            height: 3rem;
            margin: 2rem 0 0 2.4rem;

            @include screen-sm {
              border-left: 1px solid var(--black);
              height: 200px;
            }
          }
        }
    }

    .project__images {
      text-align: center;

      @include screen-sm {
        text-align: right;
      }
      img {
        max-width: 100%;

        @include screen-sm {
          max-width: 90%;
        }

        &:not(:first-child) {
          margin-top: 4rem;
        }
      }
    }
  }
}
