.project {
  padding: 6rem 14rem;
  background: #f0f2f4;

  &__summary {
    text-align: right;

    p {
      color: var(--gray);
    }
  }

  &__details {
    margin-top: 6rem;
    display: flex;

    .project-title {
      flex: 0 0 15%;

        h1 {
          writing-mode: vertical-rl;
          line-height: 1;
        }

        .project-line {
          &--vertical {
            border-left: 1px solid var(--black);
            height: 200px;
            margin: 2rem 0 0 2.4rem;
          }

          &--horizontal {
            border-top: 1px solid var(--black);
            height: 1px;
            width: 200px;
            display: inline-block;
          }
        }
    }

    .project__images {
      text-align: right;
      img {
        max-width: 90%;

        &:not(:first-child) {
          margin-top: 4rem;
        }
      }
    }
  }
}
