#work {
  height: 2rem;
}

.work {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;

  @include screen-lg {
    margin-top: 12rem;
    flex-direction: column;
    padding: 0 14rem;
  }

  &__art {
    position: relative;
    margin: auto;
    height: 248px;
    order: 1;

    @include screen-lg {
      margin: 0;
      height: auto;
    }
  }
}

.client {
  font-size: 2rem;
  transition: all .2s;
  font-weight: 200;
  order: 2;

  & a {
    transition: all .4s;

    &:hover {
      color: var(--gray);
    }
  }

  @include screen-md {
    font-size: 2.4rem;
  }

  @include screen-lg {
    order: 1;
    max-width: 22rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.shape {
  position: relative;
  transition: all .6s;

  @include screen-lg {
    position: absolute;
  }

  &--1 {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    background: rgba(42, 47, 129, 1);

    @include screen-lg {
      right: 0;
      bottom: 0;
      height: 29rem;
      width: 29rem;
    }

    @include screen-xl {
      height: 45rem;
      width: 45rem;
    }
  }

  &--2 {
    height: 16rem;
    width: 16rem;
    clip-path: circle(48.2% at 0 52%);
    background-color: var(--teal);
    transform: rotate(56deg);
    z-index: 3;
    right: 2rem;
    bottom: 7rem;

    @include screen-lg {
      bottom: -15.9rem;
      right: 10.6rem;
      height: 30rem;
      width: 30rem;
    }

    @include screen-xl {
      right: 14.6rem;
      height: 40rem;
      width: 40rem;
    }
  }

  &--3 {
    height: 12rem;
    width: 12rem;
    background: var(--coral);
    bottom: 26rem;
    right: -10rem;

    @include screen-lg {
      height: 19rem;
      width: 19rem;
      bottom: -3rem;
      right: -5rem;
    }

    @include screen-xl {
      height: 28rem;
      width: 28rem;
    }
  }
}

//client hovers
.client--1:hover~.work__art .shape--1 {
  @include screen-xl {
    background: url('/dist/img/domino-cover.jpg') no-repeat;
    background-size: 460px;
  }
}
.client--2:hover~.work__art .shape--3 {
  @include screen-xl {
    background: url('/dist/img/spark-cover.jpg') no-repeat;
    background-size: 335px;
  }
}
.client--3:hover~.work__art .shape--2 {
  @include screen-xl {
    background: url('/dist/img/hue-cover.jpg') no-repeat;
    background-size: 400px;
  }
}
.client--4:hover~.work__art .shape--3 {
  @include screen-xl {
    background: url('/dist/img/apex-cover.jpg') no-repeat;
    background-size: 330px;
  }
}
.client--5:hover~.work__art .shape--1 {
  @include screen-xl {
    background: url('/dist/img/katie-cover.jpg') no-repeat;
    background-size: 450px;
  }
}
.client--6:hover~.work__art .shape--2 {
  @include screen-xl {
    background: url('/dist/img/skate-cover.jpg') no-repeat;
    background-size: 400px;
  }
}

.client--5:hover~.work__art,
.client--1:hover~.work__art {

  @include screen-xl {
    .shape--1 {
      z-index: 99;
      transform: scale(1.05);
      overflow: hidden;
    }

    .shape--2 {
      background-color: var(--gray-light-1);
    }

    .shape--3 {
      background-color: var(--gray-light-2);
    }
  }
}

.client--2:hover~.work__art,
.client--4:hover~.work__art {

  @include screen-xl {
    .shape--3 {
      z-index: 99;
      transform: scale(1.05);
    }

    .shape--1 {
      background-color: var(--gray-light-1);
    }

    .shape--2 {
      background-color: var(--gray-light-2);
    }
  }
}


.client--3:hover~.work__art,
.client--6:hover~.work__art {
  @include screen-xl {
    .shape--2 {
      background-size: 220px;
      transform: scale(1.05) rotate(56deg);
      background-size: cover;
      z-index: 99;
    }

    .shape--1 {
      background-color: var(--gray-light-1);
    }

    .shape--3 {
      background-color: var(--gray-light-2);
    }
  }
}

