.work {
  margin: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  height: auto;
  position: relative;

  @include screen-md {
    margin: 6em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
  }
}

.work__content {
  @include flex-center-all;

    @include screen-md {
      height: 70vh;
      padding-left: 3em;
    }

    h1 {
      margin: 0;
    }
}

.work__poster {
  background: $gray-light;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
  }
}

.blue-line {
  @include color-line;
  background: $teal;
}