// simple reset 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--bodyFont);
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

 ::selection {
   background: var(--pink);
   color: #fff;
 }

 ::mod-selection {
   background: var(--pink);
   color: #fff;
 }