h1,
h2,
h3 {
  font-family: var(--titleFont);
  font-weight: 600;
}


h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
}

p {
  font-family: var(--bodyFont);
  font-size: 1.9rem;
  line-height: 1.3;
}

.callout-text {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 200;
}

.text-stamp {
  font-family: var(--titleFont);
  font-weight: 700;
  font-size: 33rem;
  line-height: 1;
}
