@mixin screen-sm {
  @media only screen and (max-width: 48em) {
    //576px	
    @content;
  }
}

@mixin screen-md {
  @media only screen and (max-width: 64em) {
    //768px
    @content;
  }
}

@mixin screen-lg {
  @media only screen and (max-width: 82.667em) {
    //992px
    @content;
  }
}

@mixin screen-xl {
  @media only screen and (min-width: 82.667em) {
    //min of 992px
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
