:root {
  --purple: #2F278E;
  --black: #232431;
  --pink: #FE3D86;
  --gray: #eceff2;
  --orange: #FF5F2D;
  --green: #32C632;
  --blue: #3921D1;
  --titleFont: 'Poppins', sans-serif;
  --bodyFont: 'Muli', sans-serif;
}
