:root {
  --purple: #2a2f81;
  --black: #232431;
  --pink: #ff059d;
  --gray: #838994;
  --coral: #fbabab;
  --orange: #ff8b5c;
  --green: #32c632;
  --teal: #25c7eb;
  --white: #fff;
  --titleFont: 'Poppins', sans-serif;
  --bodyFont: 'Muli', sans-serif;
}
