:root {
  --purple: #3D43A6;
  --black: #232431;
  --pink: #ff059d;
  --gray: #eceff2;
  --coral: #FBABA8;
  --green: #32C632;
  --teal: #25C7EB;
  --titleFont: 'Poppins', sans-serif;
  --bodyFont: 'Muli', sans-serif;
}
