.footer {
  position: relative;
  overflow: hidden;
  text-align: center;

  @include screen-lg {
    height: 20rem;
  }

  .text-stamp {
    position: relative;
    top: 0;

    @include screen-lg {
      position: absolute;
      top: -1.3rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}