.header {
  padding: 3rem;
  min-height: 50vh;
  width: 100%;
  display: block;

  @include screen-md {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__nav {
    margin: -14rem 32rem 0 0;
  }
  
  &__stamp {
    position: relative;
    transform: rotate(0);
    text-align: center;
    margin-top: 10rem;
    
      @include screen-md {
        transform: rotate(-90deg);
        position: absolute;
        top: 16rem;
        right: 5rem;
        margin-top: 0;
      }
  }
}

.back {
  display: inline-block;

  @include screen-md {
    display: none;
  }
}