.navigation {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;

  @include screen-sm {
    padding: 4rem 14rem;
  }

  &__logo {
    display: inline-block;

    .logo__text {
      font-family: var(--titleFont);
      font-size: 1.6rem;
      font-weight: 600;
      display: block;
    }

    .logo__art {
      display: block;
      text-align: left;
      margin-top: .3rem;

      @include screen-sm {
        text-align: right;
        margin-bottom: 2rem;
      }
    }
  }
}

.navigation__menu {
  cursor: pointer;

  #nav-toggle {
    opacity: 0;

    &:checked~.nav {
      opacity: 1;
      visibility: visible;
    }
  }

  .navigation__button {
    display: block;

    @include screen-sm {
      display: none;
    }
  }

  .nav__icon {
    position: relative;
    cursor: pointer;

    &,
    &::before,
    &::after {
      height: 2px;
      width: 4rem;
      background: var(--black);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -8px;
      width: 3rem;
    }

    &::after {
      bottom: -8px;
      width: 2rem;
    }
  }
}

.nav {
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  visibility: hidden;

    @include screen-sm {
      opacity: 1;
      visibility: visible;
    }

  li {
    display: block;

    @include screen-sm {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    a:link,
    a:visited {
      color: var(--black);
    }
  }

  &--alt {
    font-size: 1.3rem;
    position: relative;
    top: -14px;
  }
}
