:root {
  --purple: #2F278E;
  --black: #262626;
  --pink: #FE3D86;
  --gray: #EEE;
  --titleFont: 'Poppins', sans-serif;
  --bodyFont: 'Muli', sans-serif;
  --linkColor: #8D9294;
}

/*base*/
body {
  font-size: 1rem;
  font-family: var(--bodyFont, sans-serif);
  color: var(--black);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

.underline {
  border-bottom: 6px solid var(--pink);
  display: inline-block;
  line-height: 1;
}

header,
main {
  padding: 2rem 4rem 0 4rem;
}

/*Typography*/
h1 {
  font-size: 3.4rem;
  line-height: 1.4;
  font-family: var(--titleFont, sans-serif); 
}

h2 {
  font-family: var(--titleFont, sans-serif);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 200;
}

.text-bg {
  font-size: 25rem;
  color: var(--gray);
  text-transform: uppercase;
}

.vertical {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  transform: rotate(-180deg);
  width: 100%;
}


/*homepage*/
.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*header*/
header {
  grid-column: span 4;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 40px;
}

.header__nav ul {
  list-style: none;
  font-family: var(--titleFont, sans-serif);
}

.header__nav ul li {
  display: inline-block;
  width: 6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.header__nav ul li a {
  color: #000;
}

main {
  grid-column: span 4;
  display: grid;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero__bg {
  position: absolute;
  z-index: 1;
}

.hero__intro {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 45rem;
  color: var(--black);
}


/*work*/
.work {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-gap: 6rem;
}

.work__sidebar {
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
  color: #fff;
}

.work__sidebar h3 {
  color: #fff;
}

.work__clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.project {
  background: #cecece;
  height: 350px;
}

footer {
  grid-column: span 4;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
}

.contact--home {
  max-width: 45rem;
  align-self: center;
  text-align: center;
}

.seperator {
  border-left: 1px solid orange;
  height: 15rem;
  margin: 2rem auto 2rem auto;
}



@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .home {
    grid-template-rows: 25vw 1fr;
  }

  .work {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .project {
    grid-column: span 2;
  } 

  .vertical {
    writing-mode: horizontal-tb;
      transform: rotate(0);
  }

  .work__sidebar {
    padding-bottom: 0;
    padding-left: 2rem;
  }
}

